@import "bourbon";
@import "../helpers/checked";
@import "../settings";

.sfx-default {
  background-color: $white_selectfx;
  color: $black_selectfx;
  margin-bottom: 15px;
  max-width: 100%;
  height: 42px;

  ul span, span {
    padding: rem(($baseLine_selectfx/4));
  }

  & > span {
    &::before, &::after {
      speak: none;
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      height: 100%;
      width: 3em;
      top: 0;
      right: 0;
      background-color: rgba($l-gray_selectfx, 0.2);
    }

    &::after {
      @include triangle(12px, $m-gray_selectfx, down);
      right: 1.1rem;
      top: 50%;
    }
  }

  // Focus
  &:focus {
    outline: none;

    li#{$focusClass_selectfx} {
      background-color: darken($white_selectfx, 5);
    }
  }

  #{$placeholderClass_selectfx} {
    font-weight: 700;
    height: 100%;
    display: block;
    border: 1px solid;
    border-color: #c4c4c4;
  }

  // Options
  #{$optionsClass_selectfx} {
    background-color: darken($white_selectfx, 2);
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #c4c4c4;

    max-height: 400px;
    overflow-y: auto;
  }

  // Group
  li#{$optgroupClass_selectfx} {

    &:hover {
      background-color: transparent !important;
    }

    #{$optgroupClass_selectfx}-title {
      font-size: rem(12);
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 900;
      opacity: 0.45;
    }
    ul li {
      padding-left: em(($baseLine_selectfx/2));
    }
  }

  // Activated
  &#{$activeClass_selectfx} {
    #{$optionsClass_selectfx} {
      visibility: visible;
      opacity: 1;
    }
    // Arrow
    > span::after {
      @include transform(translateY(-50%) rotate(180deg));
    }
  }

  // Hover
  ul li:hover, li#{$optgroupClass_selectfx} ul li:hover {
    background-color: darken($white_selectfx, 5);
  }

  #{$selectedClass_selectfx} span {
    @extend %checked !optional;

    &::before, &::after {
      background-color: $green_selectfx;
      right: rem(26);
    }
  }
}
