head
    meta(charset="utf-8")
    title SelectFX.js
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui")
    link(rel="shortcut icon" href="/favicon.ico")
    //- Place favicon.ico and apple-touch-icon.png in the root directory

    //build:css styles/vendor.css
    //bower:css

    // endbower
    // endbuild
    // build:css(.tmp) application.css
    link(rel="stylesheet" href="selectfx.css")
    // endbuild
    //- build:js scripts/vendor/modernizr.js
    //- endbuild

    //- link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
