// Base
$baseClass_selectfx:        ".sfx-select";
$styleClass_selectfx:       ".sfx-default";

// Selected
$selectedClass_selectfx:    ".sfx-selected";
$placeholderClass_selectfx: ".sfx-placeholder";

// Options
$optgroupClass_selectfx:    ".sfx-optgroup";
$optionsClass_selectfx:     ".sfx-options";

// Classes of actions
$focusClass_selectfx:       ".sfx-focus";
$activeClass_selectfx:      ".sfx-active";
$mobileClass_selectfx:      ".sfx-mobile";

// Hide all select
$hideAllSelect_selectfx: true;
$hideFocus_selectfx: true;

// Grid
$baseLine_selectfx: 32;

// Color default
$white_selectfx: #f6f6f6;
$black_selectfx: #1e1e1e;

$l-gray_selectfx: #c4c6d1;
$m-gray_selectfx: #a8abb7;

$green_selectfx: #3eaf88;
$l-green_selectfx: #55cd9c;
$m-green_selectfx: #359f6e;
$d-green_selectfx: #21754b;

$time_delay_options_selectfx: 0.05;
$total_options_selectfx: 100;
