#{$baseClass_selectfx} {
  @include user-select(none);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 500px;

  &:focus {
    outline: none;
  }

  &#{$activeClass_selectfx} #{$optionsClass_selectfx} {
    visibility: visible;
    opacity: 1;
  }

  #{$placeholderClass_selectfx} {
    dl {
      margin: 0;
      dt {
        width: 56%;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
