doctype html
html(lang="en")
  include /partials/_head

  body.assd(class=page)

    <!--[if lt IE 7]>
    p.browsehappy You are using an
      strong outdated
      |  browser. Please
      a(href="http://browsehappy.com/") upgrade your browser to improve your experience.
    <![endif]-->

    include /partials/_header

    main
      block content

    include /partials/_footer
